# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# .tfvars files
*.tfvars
*.tfvars.json

# Crash log files
crash.log
crash.*.log

# .pem files
*.pem

# .ppk files
*.ppk

# Terraform plan files
*plan*
*PLAN*
*Plan*